.bodyams
  %h1 ЭТО STONE КАТЕГОРИЯ
  %h2= @stonecategory.categoryname
  %br
  
  = link_to "Back", stonecategories_path, class: "btn btn-default"
  - if user_signed_in?
    = link_to "Edit", edit_stonecategory_path, class: "btn btn-default"
    = link_to "delete", stonecategory_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"