// Place all the styles related to the ams_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}




.color#ffd700 {
  color: #EBCB79; 
}

label {
  color: #ffd700;
}

::selection {
  background-color: #F87911;
}

/* HEADER begin*/

.amslogo {
  float: left;
}
      .ams_logo_head{
              width: 690px;
              height: 243px;
        }
.tabbed {
  color: #EBCB79;
  background-color: none;
  width: 900px;
  margin: 5px auto;

}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  width: 200px;
    height: 57px;
    text-align: center;
    vertical-align: middle;
  font-size: 20px;
  font-family: 'PT Sans';
  color: #ffd700;
  line-height: 0.9;
  float: right;
  padding: 15px 20px;
  margin-right: 0px;
  margin-left: 5px;
  border-left: 4px double #ffd700;
  border-right: 4px double #ffd700;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: none; /* #5b0d91 */
  /*background-image: url('plate.png');*/
  background: #ffd700;
  font-weight: bold;
  border: 4px double #50156E;
  color: #50156E;
    text-align: center;
    vertical-align: middle;
}

/* HEADER end*/

.tabs {
  clear: both;
  perspective: 900px;
}

.tabs > div {
  background: none;/*#381D68;  #5b0d91 */
  background-image: url('plate.png');
  width: 900px;

  position: absolute;
    border-left: 4px double #ffd700;
    border-right: 4px double #ffd700;

  padding: 10px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}

.amsgroup_maintext {
  width: 840px;
  height: auto;
  margin: 10px 15px;
}
        .amsgroup_maintext p{
          /*border-left: 2px solid #ffd700;*/
          /*border-right: 2px solid #ffd700;*/
          padding: 0px 0px;

          font-size: 20px;
          font-family: "futura-pt";
          /*
          font-family: 'PT Sans';
          font-family: Georgia,serif;
          font-family: Oswald,arial,sans-serif;
          font-family: Helvetica,arial,sans-serif;
          font-family: "proxima-nova";
          font-style: italic;
          letter-spacing: 2px;
          */
          margin-bottom: 0px;
          line-height: 0.9;
        }

        .amsgroup_maintext h2{
          text-align: center;
          font-size: 50px;
          font-family: 'PT Sans';
          color:  #ffd700;
        }


.slides {
    height: 150px;
    margin: 5px 0px;
    margin-left: -54px;
    overflow: hidden;
    position: relative;
    width: 940px;
    border-radius: 3px;
    margin-top: -10px;
}
      .slides ul {
          list-style:none;
          position:relative;

      }
      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides ul li {
          opacity:0;
          position:absolute;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
          -webkit-animation-delay: 6.0s;
          -moz-animation-delay: 6.0s;
      }

      .slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
          -webkit-animation-delay: 12.0s;
          -moz-animation-delay: 12.0s;
      }

      .slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
          -webkit-animation-delay: 18.0s;
          -moz-animation-delay: 18.0s;
      }

      .slides ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides ul li div {
          background-color: #ffd700;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #50156E;
          height: 50px;
          width: auto;
          font-size: 40px;
          left:10%;
          margin:0 auto;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 20px;
          position:absolute;
          top: 95px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }
      .slides ul li div h2 {
        margin: 0px;
      }
      .slides ul li div p {
          margin: 0px;
      }

@media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}

.amsworkvideo{
  width: 530px;
  height: 300px;
  float: left;
  margin: 0px 20px;
  margin-top: 50px;
  margin-left: 35px;
}
.ams_video{
  width: 530px;
  height: 300px;

}
.amsworktext{
  margin: 20px 20px;
  font-size: 20px;
  font-family: 'PT Sans';
  padding: 5px 15px;
}
.amsworktext h2{
  font-size: 40px;
  text-align: center;
}
.amsworkpartners{
  width: 900px;
  margin: 10px auto;

}
.ams_partners_foto{
  width: 350px;
  height: 200px;
  margin: 10px;
  border-left: 2px solid #fee258;
  border-right: 2px solid #fee258;
}
.amsworkpartners h2{
  width: 350px;
  margin: 5px auto;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  border-left: 2px solid #fee258;
  border-right: 2px solid #fee258;

}

.amsgroupproduction h2{
  font-size: 40px;
  text-align: center;
  font-family: 'PT Sans';
}
.ams_gallery {
  display: inline-block;
  background: grey;
  width: 362px;
  height: 362px;
  margin: 5px;
  border-radius: 6px;
}

.ams_gallery h2{
  text-align: center; 
}

.ams_gallery_foto {
  width: 354px;
  height: 280px;
  margin: 4px;
  border-radius: 6px;
}

.amsmap{
  width: 900px;
  height: 420px;
  margin: 5px auto;
}

/* Слайдер */

.foto_slider_group{
  width: 631px;
  height: 185px;
  border-radius: 3px 3px 3px 3px;
  border: 2px solid #fee258;
}
.bootstile{
  margin-top: 47px;
}




.amsgroupfshead{
  height: 50px;
  width: 400px;

  background-image: url('plate.png');
  text-align: center;
  font-size: 50px;
  border-bottom: 2px solid #fee258;
  border-left: 2px solid #fee258;
  border-right: 2px solid #fee258;
}
      .amsgroupfsheadred{
          background-color: #fb1b36;
      }
      .amsgroupfsheadgrey{
          background-color: grey;
      }
.amsgroupfshead .btn {
  font-size: 30px;
  color: #fee258;
  width: 400px
}

.amsgroupfsheadfood{
  


}
.amsgroupfsbody{
  height: 300px;
  width: 400px;
}

      /* Слайдер */

      .picture_ams_groupfs{
        height: 300px;
        width: 400px;
        margin-left: -40px;
        border-radius: 0px 0px 3px 3px;
        border-left: 2px solid #fee258;
        border-right: 2px solid #fee258;
      }

      .slides_fs {
          height: 300px;
          margin: 0px 0px;
          overflow: hidden;
          position: relative;
          width: 400px;
          border-radius: 0px 0px 3px 3px;
      }

      .slides_fs ul {
          list-style:none;
          position:relative;

      }

       

      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides_fs ul li {
          opacity:0;
          position:absolute;
          margin-left: -40px;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides_fs ul  li:nth-child(2), .slides_fs ul  li:nth-child(2) div {
          -webkit-animation-delay: 6.0s;
          -moz-animation-delay: 6.0s;
      }

      .slides_fs ul  li:nth-child(3), .slides_fs ul  li:nth-child(3) div {
          -webkit-animation-delay: 12.0s;
          -moz-animation-delay: 12.0s;
      }

      .slides_fs ul  li:nth-child(4), .slides_fs ul  li:nth-child(4) div {
          -webkit-animation-delay: 18.0s;
          -moz-animation-delay: 18.0s;
      }

      .slides_fs ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides_fs ul li div {
          background-color:#381D68;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #EBCB79;
          font-size:26px;
          left:10%;
          margin:0 auto;
          padding:10px;
          position:absolute;
          top: 120px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }



/* HEADER #361c65*/ 

    .groupheadmain {
      position: relative;
      width: auto;
      height: 200px;
      background-color: #1e2969;  
      background-image: url('points2.png');
    }

    .inline {
      display: inline-block;
    }

    .grouphead {
      width: 900px;
      margin: 0px 50px;
      background-color: #381D68;  /* #5b0d91 */
      height: 200px;
      background-image: url('plate.png');
      border: 3px solid #fee258;
      border-radius: 3px;
    }

    .grouplanguage {
      background-color: none;
      width: 75px;
      margin-left: -75px;
      padding-right: 3px;
    }
        .language {
          background-color: #381D68; /* #5b0d91 */
          margin: 5px 0px;
          margin-top: 20px;
          padding: 5px 5px;
          border-radius: 6px 0px 0px 6px;
          list-style-type: none;
          margin-left: 40px;
          border-left: 1px solid #fee258;
          border-bottom: 1px solid #fee258;
          border-top: 1px solid #fee258;
          color: #fee258;

        }

    .grouplogo{
      position: relative;
      top: -50px;
      width: 900px;
      height: 150px;
    }

    .groupcontact {
      width: 70px;
      margin-right: -70px;
      margin-top: 10px;
      height: 200px;
      padding-left: 7px;
    }

        .contact {
          margin: 5px 0px;
          padding: 0px 5px;
          list-style-type: none;
        }
        .contacts_to_group {
          width: 50px;
          height: 50px;
        }