// Place all the styles related to the ams_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}




.color#ffd700 {
  color: #EBCB79; 
}

label {
  color: #ffd700;
}

::selection {
  background-color: #F87911;
}

.inline {
  display: inline-block;
}
/* HEADER begin*/

.amslogo {
  float: left;
}
      .ams_logo_head{
              width: 690px;
              height: 243px;
        }
      .amslogolanguage {
        width: 600px;
        height: 50px;
        position: absolute;
        margin-top: -50px;
        opacity: 0;
      }

      .amslogolanguage:hover{
        opacity: 1;

      }
      .amslogolanguage > h3 {
        width: 460px;
                margin: 5px 3px;
                display: inline-block;
                  margin-bottom: 0;
                      margin-left: 232px;
                  font-weight: normal;
                  text-align: center;
                  vertical-align: middle;
                      word-spacing: 75px;
                  border-radius: 6px;
                  color: #ffd700;
                  background-color: #50156E;
                  border-radius: 4px;
                padding: 10px 16px;
                  font-size: 20px;
                  line-height: 1.3333333;
                    
                /*background: #50156E;*/

                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
      }
      /*
            .logolanguage {
                width: 180px;
                margin: 5px 3px;
                display: inline-block;
                  margin-bottom: 0;
                  font-weight: normal;
                  text-align: center;
                  vertical-align: middle;

                  border-radius: 6px;
                  color: #ffd700;
                  background-color: #50156E;
                  border-color: #ffd700;

                touch-action: manipulation;
                  cursor: pointer;

                  border: 4px double #ffd700;
                  white-space: nowrap;
                  line-height: 1.42857143;
                  border-radius: 4px;
                padding: 10px 16px;
                  font-size: 20px;
                  line-height: 1.3333333;
                    


                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
            }
            .logolanguage:hover {  

                  color: #50156E;
                  background: #ffd700;
                  font-weight: bold;
                  font-size: 20px;
                  border: 4px double #50156E;
                  text-decoration: none;
                }
        */
.tabbed {
  color: #EBCB79;
  background-color: none;
  width: 900px;
  margin: 5px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  width: 200px;
    height: 57px;
    text-align: center;
    vertical-align: middle;
  font-size: 20px;
  font-family: 'PT Sans';
  color: #ffd700;
  line-height: 0.9;
  float: right;
  padding: 15px 10px;
  margin-right: 0px;
  margin-left: 5px;
  border-left: 4px double #ffd700;
  border-right: 4px double #ffd700;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: none; /* #5b0d91 */
  /*background-image: url('plate.png');*/
  background: #ffd700;
  background-image: url('plate.png');
  font-weight: bold;
  border: 4px double #50156E;
  color: #50156E;
    text-align: center;
    vertical-align: middle;

}

/* HEADER end*/

.tabs {
  clear: both;
  perspective: 900px;
}

.tabs > div {
  background: none;/*#381D68;  #5b0d91 */
  background-image: url('plate.png');
  width: 900px;

  position: absolute;
    border-left: 4px double #ffd700;
    border-right: 4px double #ffd700;

  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}

.amsgroup_maintext {
  width: 840px;
  height: auto;
  margin: 10px 15px;
}
        .amsgroup_maintext p{
          /*border-left: 2px solid #ffd700;*/
          /*border-right: 2px solid #ffd700;*/
          padding: 0px 0px;

          font-size: 20px;
          font-family: "futura-pt";
          /*
          font-family: 'PT Sans';
          font-family: Georgia,serif;
          font-family: Oswald,arial,sans-serif;
          font-family: Helvetica,arial,sans-serif;
          font-family: "proxima-nova";
          font-style: italic;
          letter-spacing: 2px;
          */
          margin-bottom: 0px;
          line-height: 0.9;
        }

        .amsgroup_maintext h2{
          text-align: center;
          font-size: 50px;
          font-family: 'PT Sans';
          color:  #ffd700;
        }


.slides {
    height: 150px;
    margin: 5px 0px;
    margin-left: -54px;
    overflow: hidden;
    position: relative;
    width: 940px;
    border-radius: 3px;
    margin-top: -10px;
}
      .slides ul {
          list-style:none;
          position:relative;

      }
      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides ul li {
          opacity:0;
          position:absolute;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
          -webkit-animation-delay: 6.0s;
          -moz-animation-delay: 6.0s;
      }

      .slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
          -webkit-animation-delay: 12.0s;
          -moz-animation-delay: 12.0s;
      }

      .slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
          -webkit-animation-delay: 18.0s;
          -moz-animation-delay: 18.0s;
      }

      .slides ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides ul li div {
          background-color: #ffd700;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #50156E;
          height: 50px;
          width: auto;
          font-size: 40px;
          left:10%;
          margin:0 auto;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 20px;
          position:absolute;
          top: 95px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }
      .slides ul li div h2 {
        margin: 0px;
      }
      .slides ul li div p {
          margin: 0px;
      }

/* КАК МЫ РАБОТАЕМ Begin */

.amsworktext{
  margin: 20px 20px;
  font-size: 20px;
  font-family: 'PT Sans';
  padding: 5px 15px;
  line-height: 0.8;

}
.amsworknews h2, h4, a{
  color: #ffd700;
}


.amsworknews hr, h5{
  color: #50156E;
}

.hrnews {
  color: #50156E;
}

.amsworknews{
  width: 400px;
  height: 400px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 5px;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: -20px;
  border-left: 5px solid #50156E;
} 

.amsgroupfoodandstone {
  width: 820px;
  margin: 10px 25px;
}

.amsgroupfoodandstoneplate {
  width: 388px;
  margin: 5px 10px;
  border-left: 3px double #ffd700;
  border-right: 3px double #ffd700;
}

    .amsgroupfshead{
      height: 50px;
      width: 382px;

      background-image: url('plate.png');
      text-align: center;
      font-size: 50px;
      border-bottom: 2px solid #ffd700;
    /*border-left: 2px solid #ffd700;
      border-right: 2px solid #ffd700;*/
    }
          .amsgroupfsheadred{
              background-color: #fb1b36;
          }
          .amsgroupfsheadgrey{
              background-color: grey;
          }
    .amsgroupfshead .btn {
      font-size: 30px;
      color: #ffd700;
      width: 388px
    }

    .amsgroupfsheadfood{
      
    }
    .amsgroupfsbody{
      height: 300px;
      width: 388px;
    }

                  /* Слайдер */

                  .picture_ams_groupfs{
                    height: 300px;
                    width: 388px;
                    margin-left: -40px;
                    border-radius: 0px 0px 3px 3px;
                    border-left: 2px solid #ffd700;
                    border-right: 2px solid #ffd700;
                  }

                  .slides_fs {
                      height: 300px;
                      margin: 0px 0px;
                      overflow: hidden;
                      position: relative;
                      width: 382px;
                      border-radius: 0px 0px 3px 3px;
                  }

                  .slides_fs ul {
                      list-style:none;
                      position:relative;

                  }

                   

                  /* Кадры анимации #anim_slides */

                  @-webkit-keyframes anim_slides {
                      0% {
                          opacity:0;
                      }
                      6% {
                          opacity:1;
                      }
                      24% {
                          opacity:1;
                      }
                      30% {
                          opacity:0;
                      }
                      100% {
                          opacity:0;
                      }
                  }

                  @-moz-keyframes anim_slides {
                      0% {
                          opacity:0;
                      }
                      6% {
                          opacity:1;
                      }
                      24% {
                          opacity:1;
                      }
                      30% {
                          opacity:0;
                      }
                      100% {
                          opacity:0;
                      }
                  } 

                  .slides_fs ul li {
                      opacity:0;
                      position:absolute;
                      margin-left: -40px;
                      top:0;

                      /* анимация css3 */
                      -webkit-animation-name: anim_slides;
                      -webkit-animation-duration: 24.0s;
                      -webkit-animation-timing-function: linear;
                      -webkit-animation-iteration-count: infinite;
                      -webkit-animation-direction: normal;
                      -webkit-animation-delay: 0;
                      -webkit-animation-play-state: running;
                      -webkit-animation-fill-mode: forwards;
                   
                      -moz-animation-name: anim_slides;
                      -moz-animation-duration: 24.0s;
                      -moz-animation-timing-function: linear;
                      -moz-animation-iteration-count: infinite;
                      -moz-animation-direction: normal;
                      -moz-animation-delay: 0;
                      -moz-animation-play-state: running;
                      -moz-animation-fill-mode: forwards;
                  }

                   

                  /* Задержки css3 */
                  .slides_fs ul  li:nth-child(2), .slides_fs ul  li:nth-child(2) div {
                      -webkit-animation-delay: 6.0s;
                      -moz-animation-delay: 6.0s;
                  }

                  .slides_fs ul  li:nth-child(3), .slides_fs ul  li:nth-child(3) div {
                      -webkit-animation-delay: 12.0s;
                      -moz-animation-delay: 12.0s;
                  }

                  .slides_fs ul  li:nth-child(4), .slides_fs ul  li:nth-child(4) div {
                      -webkit-animation-delay: 18.0s;
                      -moz-animation-delay: 18.0s;
                  }

                  .slides_fs ul li img {
                      display:block;

                  }

                   

                  /* Кадры анимации #anim_titles */

                  @-webkit-keyframes anim_titles {
                      0% {
                          left:100%;
                          opacity:0;
                      }

                      5% {
                          left:10%;
                          opacity:1;
                      }

                      20% {
                          left:10%;
                          opacity:1;
                      }

                      25% {
                          left:100%;
                          opacity:0;
                      }

                      100% {
                          left:100%;
                          opacity:0;
                      }
                  }

                  @-moz-keyframes anim_titles {
                      0% {
                          left:100%;
                          opacity:0;
                      }

                      5% {
                          left:10%;
                          opacity:1;
                      }

                      20% {
                          left:10%;
                          opacity:1;
                      }

                      25% {
                          left:100%;
                          opacity:0;
                      }

                      100% {
                          left:100%;
                          opacity:0;
                      }
                  }

                   

                  .slides_fs ul li div {
                      background-color: #50156E;
                      border-radius:3px 3px 3px 3px;
                      box-shadow:0 0 5px #EBCB79 none;
                      color: #ffd700;
                      font-size:26px;
                      vertical-align: middle;
                      left:10%;
                      margin:0 auto;
                      padding: 0px 10px;
                      position:absolute;
                      top: 260px;
                      width: auto;
                      height: 32px;


                      /* Анимация css3 */

                      -webkit-animation-name: anim_titles;

                      -webkit-animation-duration: 24.0s;
                      -webkit-animation-timing-function: linear;
                      -webkit-animation-iteration-count: infinite;
                      -webkit-animation-direction: normal;
                      -webkit-animation-delay: 0;
                      -webkit-animation-play-state: running;
                      -webkit-animation-fill-mode: forwards;
                   
                      -moz-animation-name: anim_titles;
                      -moz-animation-duration: 24.0s;
                      -moz-animation-timing-function: linear;
                      -moz-animation-iteration-count: infinite;
                      -moz-animation-direction: normal;
                      -moz-animation-delay: 0;
                      -moz-animation-play-state: running;
                      -moz-animation-fill-mode: forwards;
                  }

                  .slides_fs h2 {
                    margin-top: -0px;
                  }

/* КАК МЫ РАБОТАЕМ END*/


/* ПРОДУКЦИЯ BEGIN*/
.stprod {
  margin-top: 10px;
}


    .amsproductsstones {
      background-color: #50156E;
      border: 2px solid #ffd700;
    }
        .amsproductsstones > .textcenter > h3 {
          padding-left: 10px;
          padding-right: 10px;
        }
    .amsproductsfoods {
  background-color: #851452;
  border: 2px solid #ffd700;
    }
        .amsproductsfoods > .textcenter > h3 {
          padding-left: 10px;
          padding-right: 10px;
        }


.stprod h3 {
  text-align: center;
  
  color: #ffd700;
}
.stprod h2 {
  color: #ffd700;
}
.stprod a {  
  color: #ffd700;
}


.stprod h4 {
  text-align: center;
  color: #ffd700;
} 
.stoneplatetext {
  text-align: left;  
  color: #ffd700;
  padding: 2px 15px;
} 
.categoryblok {
  width: 830px;
  height: auto;
  margin: 5px 20px;
  padding: 5px;
  white-space: nowrap;
  overflow: auto;
}

.categoryblokstonefood {
  width: 830px;
  height: auto;
  margin: 5px 20px;
  padding: 5px;
}
      .stonecolor {
        background-color: #50156E;
      }
      .foodcolor {
        background-color: #851452;
      }
.allproductplate {
  width: 170px;
  height: 235px;
  
  margin: 5px 10px;
  padding: 5px;
}

    .allproductplateimg {
      border: 2px solid #ffd700;
      border-radius: 2px;
      width: 154px;
      height: 154px;
      margin: 5px auto;
    }

/* ПРОДУКЦИЯ END*/

/* @media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
} */

.amsworkvideo{
  width: 530px;
  height: 300px;
  float: left;
  margin: 0px 20px;
  margin-top: 50px;
  margin-left: 35px;
}
.ams_video{
  width: 530px;
  height: 300px;

}

.ams_partners_foto{
  width: 350px;
  height: 200px;
  margin: 10px;
  border-left: 2px solid #ffd700;
  border-right: 2px solid #ffd700;
}
.amsworkpartners h2{
  width: 350px;
  margin: 5px auto;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  border-left: 2px solid #ffd700;
  border-right: 2px solid #ffd700;

}

.amsgroupproduction h2{
  font-size: 40px;
  text-align: center;
  font-family: 'PT Sans';
}
.ams_gallery {
  display: inline-block;
  background: grey;
  width: 362px;
  height: 362px;
  margin: 5px;
  border-radius: 6px;
}

.ams_gallery h2{
  text-align: center; 
}

.ams_gallery_foto {
  width: 354px;
  height: 280px;
  margin: 4px;
  border-radius: 6px;
}


/* Слайдер */

.foto_slider_group{
  width: 631px;
  height: 185px;
  border-radius: 3px 3px 3px 3px;
  border: 2px solid #ffd700;
}
.bootstile{
  margin-top: 47px;
}




/* CONTACTS*/ 
.ams_contacts  {
  width: 450px;
  color: #ffd700;
}
  .left{
    float: left;
    
  }
  .right{
    float: right;
  }
    .wel_contact {
      width: 40px;
        height: 40px;
        margin: 5px 2px;
    }
    .wel_contact:hover {
      background-color: #50156E;
      border: 4px solid #50156E;
      text-decoration: none;
    }
    .mail{
        height: 40px;
        width: auto;
        margin: 5px 2px;
    }
    .mail:hover {
      background-color: #50156E;
      border: 4px solid #50156E;
      text-decoration: none;
    }

    .vline{
     border-left: 4px solid #50156E;
    }

.ams_contacts {
  font-size: 20px;
  margin: 15px 5px;
}

.ams_contacts li {
  list-style-type: none;
}

.ams_contacts h2, h3 {
  text-align: center;
}


.number{
  font-size: 20px;
  margin: 15px 5px;
  display: inline-block;
}

.amsmap{
  width: 450px;
  height: 350px;
  margin: 5px auto;
}


/* HEADER #361c65*/ 

    .groupheadmain {
      position: relative;
      width: auto;
      height: 200px;
      background-color: #1e2969;  
      background-image: url('points2.png');
    }



    .grouphead {
      width: 900px;
      margin: 0px 50px;
      background-color: #381D68;  /* #5b0d91 */
      height: 200px;
      background-image: url('plate.png');
      border: 3px solid #ffd700;
      border-radius: 3px;
    }

    .grouplanguage {
      background-color: none;
      width: 75px;
      margin-left: -75px;
      padding-right: 3px;
    }
        .language {
          background-color: #381D68; /* #5b0d91 */
          margin: 5px 0px;
          margin-top: 20px;
          padding: 5px 5px;
          border-radius: 6px 0px 0px 6px;
          list-style-type: none;
          margin-left: 40px;
          border-left: 1px solid #ffd700;
          border-bottom: 1px solid #ffd700;
          border-top: 1px solid #ffd700;
          color: #ffd700;

        }

    .grouplogo{
      position: relative;
      top: -50px;
      width: 900px;
      height: 150px;
    }

    .groupcontact {
      width: 70px;
      margin-right: -70px;
      margin-top: 10px;
      height: 200px;
      padding-left: 7px;
    }

        .contact {
          margin: 5px 0px;
          padding: 0px 5px;
          list-style-type: none;
        }
        .contacts_to_group {
          width: 50px;
          height: 50px;
        }