// Place all the styles related to the ams_stones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
  box-sizing: border-box;
}

::selection {
  background-color: #575757;
}

/* HEADER */
    .stoneheadmain {
      position: relative;
      width: auto;
      height: 200px;
      background-color: #f5e7c6;
      background-image: url('plate.png');
    }

    .inline {
      display: inline-block;
    }
    .stonehead {
      position: relative;
      width: 1190px;
      margin: 0px auto;
      background-color: grey;
      height: 200px;
      background-image: url('plate.png');
    }

    .stonelanguage {
      background-color: none;
      width: 75px;
      margin-left: -75px;
    }
        .language {
          background-color: #381D68;
          margin: 5px 0px;
          margin-top: 20px;
          padding: 5px 5px;
          border-radius: 6px 0px 0px 6px;
          list-style-type: none;
        }

    .stonelogo{
      position: relative;
      top: -50px;
      width: 1182px;
      height: 150px;
    }

    .stonecontact {
      width: 70px;
      margin-right: -70px;
      margin-top: 10px;
    }

        .contact {
          margin: 5px 0px;
          padding: 0px 5px;
          list-style-type: none;
        }
        .contacts_to_stone {
          width: 50px;
          height: 50px;
        }
/* HEADER */


.tabbedstones {
  color: #ffd700;
  background-color: #1e2969;
  width: 1200px;
  margin: 5px auto;
}

.tabbedstones > input {
  display: none;
}

.tabbedstones > label {
  display: block;
  width: 290px;
  text-align: center;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbedstones > label:hover,
.tabbedstones > input:checked + label {
  background: #B8B8B8;
  background-image: url('plate.png');
}

.stonestabs {
  clear: both;
  perspective: 600px;
}

.stonestabs > div {
  background: #381D68;
  background-image: url('plate.png');
  width: 1190px;
  margin-right: 5px;
  margin-left: 5px;
  position: absolute;
  border: 2px solid #575757;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#stonestab-nav-1:checked ~ .stonestabs > div:nth-of-type(1),
#stonestab-nav-2:checked ~ .stonestabs > div:nth-of-type(2),
#stonestab-nav-3:checked ~ .stonestabs > div:nth-of-type(3),
#stonestab-nav-4:checked ~ .stonestabs > div:nth-of-type(4),
#stonestab-nav-5:checked ~ .stonestabs > div:nth-of-type(5){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbedstones { width: 400px }
  .tabbedstones > label { display: none }
  .stonestabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .stonestabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}

.stone_gallery {
	display: inline-block;
	background: grey;
	width: 260px;
	height: 310px;
	margin: 5px;
	border-radius: 6px;
}

.stone_gallery_foto {
	width: 252px;
	height: 302px;
	margin: 4px;
	border-radius: 6px;
}

/* SHOW DIRECTION BEGINE */


.headcurrentstone{
      width: 1200px;
      height: 443px;
      margin: 0px auto;
      margin-top: 10px;

      border-left: 4px double #ffd700;
      border-right: 4px double #ffd700;
      padding: 0px 20px;
}
    .headcurrentstoneams {
      margin: 0px;
      width: 1150px;
      text-align: center;
    }
    .headcurrentstonepicture {
      width: 350px;
      height: 350px;
       border-left: 2px solid #ffd700;
       border-right: 2px solid #ffd700;
      z-index: 0;
    }


.headcurrentstonefirstblock {
    width: 354px;
    height: 394px;

}
      .headcurrentstonefirstblock > h1 {
        text-align: center;
        margin: 0px;
        margin-bottom: 5px;
      }
          .headcurrentstonefirstblock  > h1 > a{
              color: #ffd700;
              
          }

.headcurrentstonesecondblock {
      width: 600px;
      height: 394px;
      padding: 10px;
      padding-top: 40px;
}

      .headcurrentstonesecondblock  > h1 {
          margin-bottom: 10px;
          margin-top: 0px;
          }



      .headcurrentstonesecondblock  > h2 {
          margin-bottom: 10px;
          margin-top: 0px;
          }

      .headcurrentstonesecondblock  > h3 {
          margin-bottom: 10px;
          margin-top: 0px;
          height: auto;
          max-height: 215px;
          width: 550px;
          overflow-x: auto;
          }


.headcurrentstonethirdblock {

      width: 195px;
      height: 394px;
      padding: 10px;
      padding-top: 40px;
}
      .headcurrentstonethirdblock  > h1 {
          margin-bottom: 10px;
          margin-top: 0px;
      }
          .headcurrentstonethirdblock  > h1 > a{
              color: #ffd700;
              
          }

.bodycurrentstone {
      width: 1200px;
      height: 1000px;
      margin: 0px auto;
      border-left: 4px double #ffd700;
      border-right: 4px double #ffd700;
      padding: 0px 20px;
      margin-top: 10px;
}

/* SHOW DIRECTION END */

.stoneproduct {
  color: #ffd700;
  background-color: #1e2969;
  width: 300px;
  margin: 5px auto;
}

.stoneproduct > input {
  display: none;
}

.stoneproduct > label {
  display: block;
  width: 140px;
  text-align: center;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.stoneproduct > label:hover,
.stoneproduct > input:checked + label {
  background: #B8B8B8;
  background-image: url('plate.png');
}

.stoneproducttabs {
  clear: both;
  perspective: 600px;
}

.stoneproducttabs > div {
  background: #381D68;
  background-image: url('plate.png');
  width: 450px;
  margin-right: 5px;
  margin-left: 5px;
  position: absolute;
  border: 2px solid #575757;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#stoneproducttab-nav-1:checked ~ .stoneproducttabs > div:nth-of-type(1),
#stoneproducttab-nav-2:checked ~ .stoneproducttabs > div:nth-of-type(2),
#stoneproducttab-nav-3:checked ~ .stoneproducttabs > div:nth-of-type(3),
#stoneproducttab-nav-4:checked ~ .stoneproducttabs > div:nth-of-type(4),
#stoneproducttab-nav-5:checked ~ .stoneproducttabs > div:nth-of-type(5){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}







.allproductsshow {
  width: 400px;
  height: auto;
  background-color: blue;
  margin-left: 100px;
}