/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  /*background-image: url('wall_gold.png');*/
  background-color: black;
  font: 1em 'PT Sans', sans-serif;
  font-family: "futura-pt"; 
  font-family: "proxima-nova"; 
  color: #ffd700;   /*#1a0120*/
}
    .nation  {
      position: fixed;
      right: 0px;
      margin-top: 150px;

    }

    .bodyams {
      width: 900px;
      height: 200px;
      margin: 0px auto;
    }
    .bodyhead {
    	width: 900px;
    	margin: 0px auto;
    }
    .sign {
        opacity: 0;
    }
        .sign:hover > a {
        opacity: 1;
        color: black;
        font-size: 50px;
    }
.background {
	background-image: url('points2.png');
}

