.bodyams
  %h1 ЭТО КАТЕГОРИЯ
  %h2= @category.categoryname
  %br
  
  = link_to "Back", amsstones_path, class: "btn btn-default"
  - if user_signed_in?
    = link_to "Edit", edit_amsstone_path, class: "btn btn-default"
    = link_to "delete", amsstone_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"